<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>MyServlet1</servlet-name>
        <servlet-class>ru.sstu.MyServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YourServlet</servlet-name>
        <servlet-class>ru.sstu.YourServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MyServlet1</servlet-name>
        <url-pattern>/My</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourServlet</servlet-name>
        <url-pattern>/Your</url-pattern>
    </servlet-mapping>
</web-app>